name: Basic-Schulung

on:
  push:
  workflow_dispatch:
  
jobs:
  build:
    name: My first Actions
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
     - uses: ./action-a
       with:
         MY_NAME: Alex
